/* styling for working and not uploaded */

.container>div {
    margin-bottom: 10vw;
}

.container {
  display: grid;
  grid-template-columns: auto 53vw auto;
  margin-top: 10vw;
}

.container>div {
    grid-column-start: 2;
    grid-column-end: 3;
}

/*****************************************/
/*****************************************/
/*********** COMMON SETTINGS *************/
.kotodama, .schoolScarf, .sangoCasual,
.miroku, .demonInuEyes, .kagomeSchool,
.inuyasha, .shippo, .kirara {
  display: flex;
  flex-direction: row;
  position: relative;
}

.flipped {
    transform: rotateY(180deg);
}

/*********** kotodama *************/
.kotodama>.bead {
  margin-left: 3.3vw;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 2vw;
  height: 2vw;
  background: rgb(188,173,208);
  box-shadow:
    1.1vw 1.1vw 0 .9vw rgb(32,23,43),
    .8vw .8vw 0 1.7vw rgb(79,49,85);
  border-radius: 50%;
}

.kotodama>.first {
  margin-left: 0;
}

.kotodama>.fang {
  width: 4vw;
  height: 7.8vw;
  background-color: rgb(189,178,160);
  box-shadow: .5vw .3vw rgb(135, 124, 108);
  border-radius: 50%;
  margin-left: 2vw;
  margin-right: 1vw;
}

/*********** SCARF *************/
.schoolScarf>.scarfLeft {
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 0 24.8vw 6.8vw 0;
   border-color: transparent rgb(66,111,91) transparent transparent;
}

.schoolScarf>.scarfLeft::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 24.8vw 7vw 0;
    border-color: transparent black transparent transparent;
    position: absolute;
    left: -.4vw;
    z-index: -1;
    transform: scale(105%);
}

.schoolScarf>.scarfLeft::after {
    content: '';
    background-color: white;
    position: absolute;
    width: .5vw;
    height: 21.8vw;
    transform: rotate(-75deg);
    top: -8.3vw;
    left: 13.8vw;
    border-radius: 25% 38% 25% 25%;
    border: 2px solid black;
}

.schoolScarf>.scarfGap {
    width: 5vw;
    height: 7vw;
    background-color: rgb(66,111,91);
    border: 2px solid black;
}

.schoolScarf>.scarfGap::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 3.1vw;
    height: .5vw;
    border: 2px solid black;
    top: 1vw;
}

.schoolScarf>.scarfRight {
    width: 0;
   height: 0;
   border-style: solid;
   border-width: 6.8vw 24.8vw 0 0;
   border-color: rgb(66,111,91) transparent transparent transparent;
}

.schoolScarf>.scarfRight::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7vw 24.8vw 0 0;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: -.01vw;
    right: -.5vw;
    z-index: -1;
    transform: scale(105%);
}

.schoolScarf>.scarfRight::after {
    content: '';
    background-color: white;
    position: absolute;
    width: .5vw;
    height: 21.8vw;
    transform: rotate(75deg);
    top: -8.3vw;
    right: 13.8vw;
    border-radius: 25% 38% 25% 25%;
    border: 2px solid black;
}

.schoolScarf>.scarfKnot {
    position: absolute;
    width: 5vw;
    height: 3vw;
    background-color: rgb(66,111,91);
    top: 5.5vw;
    left: 23.8vw;
    border: 2px solid black;
}

.schoolScarf>.scarfKnot::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 4.75vw;
    height: .5vw;
    border: 2px solid black;
    top: 1vw;
}

.schoolScarf>.scarfRed1 {
    position: absolute;
    width: 3vw;
    height: 5vw;
    background-color: rgb(174,41,84);
    border: 2px solid black;
    border-radius: 50% 0 50% 0;
    top: 7.5vw;
    left: 23.5vw;
    z-index: -1;
    transform: rotate(15deg);
}

.schoolScarf>.scarfRed2 {
    position: absolute;
    width: 3vw;
    height: 5vw;
    background-color: rgb(174,41,84);
    border: 2px solid black;
    border-radius: 50% 0 50% 0;
    top: 7vw;
    left: 26vw;
    z-index: -1;
    transform: rotate(-15deg);
}

/*********** SANGO CASUAL *************/
.sangoCasual>.yukata {
    height: 3vw;
    width: 27vw;
    background-color: rgb(230, 204, 215);
    position: absolute;
    overflow: hidden;
}

.sangoCasual>.yukata::after {
    content: '';
    height: 5vw;
    width: 3vw;
    position: absolute;
    background-color: rgb(144, 48, 69);
    box-shadow: 12vw -4vw rgb(144, 48, 69);
    transform: rotate(20deg);
    top: -1vw;
}

.sangoCasual>.skirt {
    height: 3vw;
    width: 26vw;
    background-color: rgb(89, 115, 29);
    position: absolute;
    overflow: hidden;
    left: 27vw;
}

/*********** MIROKU *************/
.miroku>.robe1 {
    height: 3vw;
    width: 26vw;
    position: absolute;
    background-color: rgb(103, 89, 151);
}

.miroku>.robe1::after {
    content: '';
    position: absolute;
    left: 24vw;
    height: 2.95vw;
    width: 5vw;
    transform:  skew(-25deg);
    background-color: rgb(103, 89, 151);
}

.miroku>.robe1::before {
    content: '';
    height: 1vw;
    width: 1vw;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(202, 229, 240);
    top: 2.2vw;
    left: 15vw;
    box-shadow: 
        .5vw -.8vw rgb(202, 229, 240),
        1vw -1.6vw rgb(202, 229, 240),
        1.5vw -2.4vw rgb(202, 229, 240),
        3vw 0 rgb(202, 229, 240),
        3.5vw -.8vw rgb(202, 229, 240),
        4vw -1.6vw rgb(202, 229, 240),
        4.5vw -2.4vw rgb(202, 229, 240);
}

.miroku>.robe2 {
    height: 3vw;
    width: 27vw;
    position: absolute;
    background-color: rgb(27, 30, 45);
    left: 26vw;
    z-index: -1;
}

/*********** DEMON INU EYES *************/
.demonInuEyes>.demonInuEyeLeft {
    height: 4vw;
    width: 6vw;
    position: absolute;
    border-radius: 25% 50% 50% 40%;
    border-top: .3vw solid black;
    border-bottom: .5vw solid black;
    background-color: rgb(190, 27, 55);
    transform: skew(10deg);
    left: 15vw;
}

.demonInuEyes>.demonInuEyeLeft::after {
    content: '';
    height: 1.6vw;
    width: .5vw;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(209, 198, 191);
    transform: skew(-10deg);
    left: 3.5vw;
    top: .7vw;
    box-shadow: 0 0 0 .7vw rgb(63, 105, 121);
}

.demonInuEyes>.demonInuEyeLeft::before {
    content: '';
    height: 1vw;
    width: 10vw;
    position: absolute;
    background-color: black;
    border-radius: 50% 25% 0% 0%;
    transform: rotate(20deg) skew(10deg);
    left: -2vw;
    top: -1vw;
    z-index: 3;
}

.demonInuEyes>.demonInuEyeRight {
    height: 4vw;
    width: 6vw;
    position: absolute;
    border-radius: 50% 25% 40% 50%;
    border-top: .3vw solid black;
    border-bottom: .5vw solid black;
    background-color: rgb(190, 27, 55);
    transform: skew(-10deg);
    left: 30vw;
}

.demonInuEyes>.demonInuEyeRight::after {
    content: '';
    height: 1.6vw;
    width: .5vw;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(209, 198, 191);
    transform: skew(10deg);
    left: 2vw;
    top: .7vw;
    box-shadow: .2vw 0 0 .7vw rgb(63, 105, 121);
}

.demonInuEyes>.demonInuEyeRight::before {
    content: '';
    height: 1vw;
    width: 10vw;
    position: absolute;
    background-color: black;
    border-radius: 25% 50% 0% 0%;
    transform: rotate(-20deg) skew(-10deg);
    left: -2vw;
    top: -1vw;
    z-index: 3;
}

.demonInuEyes>.demonInuStripeLeft {
    height: 1.7vw;
    width: 3vw;
    position: absolute;
    border-radius: 0 0 50% 40%;
    background-color: rgb(153, 84, 142);
    transform: rotate(15deg);
    left: 13vw;
    top: 5.1vw;
}

.demonInuEyes>.demonInuStripeLeft::after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    left: 2.7vw;
    border-style: solid;
    border-width: 1vw 0 .5vw 4vw;
    border-color: transparent transparent transparent rgb(153, 84, 142);
}

.demonInuEyes>.demonInuStripeLeft::before {
    content: '';
    height: 2vw;
    width: 3vw;
    position: absolute;
    background-color: rgb(153, 84, 142);
    border-radius: 0 10% 30% 0;
    transform: rotate(5deg);
    left: -2.7vw;
    top: -.2vw;
}

.demonInuEyes>.demonInuStripeRight {
    height: 1.7vw;
    width: 3vw;
    position: absolute;
    border-radius: 0 0 40% 50%;
    background-color: rgb(153, 84, 142);
    transform: rotate(-15deg);
    left: 35vw;
    top: 5.1vw;
}

.demonInuEyes>.demonInuStripeRight::after {
    content: '';
    height: 2vw;
    width: 3vw;
    position: absolute;
    background-color: rgb(153, 84, 142);
    border-radius: 10% 0% 0% 30%;
    left: 2.7vw;
    top: -.2vw;
}

.demonInuEyes>.demonInuStripeRight::before {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    left: -3.5vw;
    border-style: solid;
    border-width: .5vw 4vw 1vw 0;
    border-color: transparent rgb(153, 84, 142) transparent transparent;
}

/*********** KAGOME SCHOOL *************/
.kagomeSchool>.scarf {
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent transparent transparent rgb(79, 142, 95);
    border-style: solid;
    border-width: 1.6vw 0 1.6vw 2vw;
    z-index: 2;
}

.kagomeSchool>.scarf::after {
    content: '';
    height: .8vw;
    width: .8vw;
    position: absolute;
    background-color: rgb(234, 49, 46);
    border-radius: 50%;
    left: -.4vw;
    top: -.4vw;
    z-index: 3;
}

.kagomeSchool>.shirtAndSkirt {
    height: 3vw;
    width: 26vw;
    position: absolute;
    background-color: white;
    border: .1vw solid rgb(79, 142, 95);
}

.kagomeSchool>.shirtAndSkirt::after {
    content: '';
    height: 3vw;
    width: 6vw;
    position: absolute;
    background-color: rgb(79, 142, 95);
    left: 26vw;
}

.kagomeSchool>.legs {
    height: 3vw;
    width: 23vw;
    position: absolute;
    background-color: rgb(255, 217, 196);
    left: 30vw;
    top: .15vw;
    z-index: -1;
}

.kagomeSchool>.legs::after {
    content: '';
    height: 3vw;
    width: 5vw;
    position: absolute;
    background-color: white;
    left: 16vw;
    box-shadow: 2vw 0 rgb(122, 79, 63);
}

/*********** INUYASHA *************/
.inuyasha>.robe {
    height: 3vw;
    width: 26vw;
    position: absolute;
    background-color: rgb(209, 44, 51);
    border-radius: 0 15% 15% 0;
}

.inuyasha>.robe::before {
    content: '';
    height: 1vw;
    width: 1vw;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(79,49,85);
    box-shadow: 
        .5vw .5vw rgb(79,49,85),
        .9vw 1vw rgb(79,49,85),
        .6vw 1.6vw rgb(79,49,85),
        0 2vw rgb(79,49,85);
}

.inuyasha>.pants {
    height: 3vw;
    width: 26vw;
    position: absolute;
    background-color: rgb(209, 44, 51);
    border-radius: 0 25% 25% 0;
    border-left: 2px solid black;
    left: 26vw;
}

.inuyasha>.pants::after {
    content: '';
    height: 3vw;
    width: 2vw;
    position: absolute;
    background-color: rgb(234, 192, 152);
    left: 25vw;
}

/*********** SHIPPO *************/
.shippo>.hair {
    height: 3vw;
    width: 3vw;
    position: absolute;
    background-color: rgb(197, 112, 6);
    z-index: 3;
}

.shippo>.shirt {
    height: 3vw;
    width: 26vw;
    position: absolute;
    background-color: rgb(224, 163, 38);
}

.shippo>.shirt::after {
    content: '';
    height: .6vw;
    width: 26vw;
    position: absolute;
    background-color: rgb(104, 185, 178);
    box-shadow: 0 2.4vw rgb(104, 185, 178);
}

.shippo>.legs {
    height: 3vw;
    width: 27vw;
    position: absolute;
    background-color: rgb(237, 213, 141);
    left: 26vw;
}

.shippo>.legs::before {
    content: '';
    height: 4vw;
    width: 8vw;
    position: absolute;
    background-color: rgb(38, 66, 116);
    border-radius: 25% 25% 25% 25%;
    top: -.4vw;
    left: -.2vw;
}

/*********** KIRARA *************/
.kirara>.body {
    height: 3vw;
    width: 53vw;
    position: absolute;
    background-color: rgb(246, 241, 211);
    border: .2vw solid rgb(46, 47, 39);
    overflow: hidden;
}

.kirara>.body::after {
    content: '';
    height: 6vw;
    width: 1vw;
    position: absolute;
    background-color: rgb(46, 47, 39);
    left: -1vw;
    top: -1.4vw;
    transform: rotate(35deg);
    box-shadow: 
        35vw -25vw rgb(46, 47, 39),
        40vw -28vw rgb(46, 47, 39),
        43vw -30vw rgb(46, 47, 39);
}

.kirara>.body::before {
    content: '';
    height: 1.5vw;
    width: 1.5vw;
    position: absolute;
    background-color: rgb(46, 47, 39);
    transform: rotate(-30deg) skew(25deg);
    left: 1.5vw;
    top: .7vw;
    z-index: 3;
}
